
  .child4 {
    position: absolute;
    top: 6%;
    left: 1.5%;
  }
  .child6 {
    position: absolute;
    top: 41%;
    left: 68%;
  } 
  .child7 {
    position: absolute;
    top: 41%;
    left: 35%;
  }
  .child8 {
    position: absolute;
    top: 41%;
    left: 1.5%;
  } 
  .child9 {
    position: absolute;
    bottom: 0%;
    left: 0%;
  } 
  .child10 {
      
    border: 1px solid black;
    padding: 1px;
    margin: 1px;
    overflow: scroll;
    width: 480px;
    height:400px;
    position: absolute;
    bottom: 0%;
    right: 0%;
  } 

  .topnav {
    background-color: gray;
    width:960px;
    height: 55px;
    text-align: center;
  font-size: 40px;
  position:absolute;
  top:0px;
  }
    
  .topnav a{
      margin: 16px;
  }
  .topnav a:hover {
    background-color: #555;
    color: red;
  }
  

  .parent {
    background: lightblue;
    height: 1300px;
    width: 960px;
    padding: 1em;
    position: relative;
    }